.header {
  border: 1px solid #395795;
  padding: 2px 0;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 0;

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;

      .links {
        display: flex;
        background-color: #395795;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;

        .link {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
