.sidebar {
  margin: 0 5px;

  .search {
    border: 2px dashed #395795;
    padding: 10px;
    margin-bottom: 2px;

    input {
      background-color: #d9dfea;
      border-radius: 5px;
      border: 1px solid #395795;
      margin-bottom: 5px;
      padding: 5px;
    }

    button {
      color: white;
      background-color: #538adc;
      cursor: pointer;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    border: 2px dashed #395795;
    padding: 10px;

    a {
      color: #538adc;
      text-decoration: none;
    }
  }
}
